<!--it's like the maker page in Domo Maker-->
<!--add some pretty and unique stuff to it once it works-->
{% extends "templates/layouts/default.html" %}

<!--could be made as separate mixin and then called-->
<!--do we want to save space in each file, or accept having more files?-->
{% macro seeMessage(message) %}
<!--<div class="col-sm-4"></div>-->
<div class="message" data-ks-editable="editable(user, { list: " Message ", id: message.id })">
	<h2>
		<a href="/board/message/{{ message.slug }}">{{ message.title }}</a>
	</h2>
	<p class="lead text-muted">Posted
		{% if message.publishedDate %}
			<br>on {{ message._.publishedDate.format("MMMM Do, YYYY") }}
		{% endif %}
		{% if message.taggs and message.taggs.length %}
			<br>in {% for t in message.taggs %}<a href="/board/{{ t.key }}">{{ t.name }}</a>{% if loop.index < message.taggs.length %}, {% endif %}{% endfor %}
		{% endif %}
		{% if message.author %}
			<br>by {{ message.author.name.first }}
		{% endif %}
	</p>
	<p>{{ message.content }}</p>
</div>
{% endmacro %}

{% block intro %}
<div class="container">
	{% set title = ( data.message.name if data.tagg else "Blog" ) %}
	<h1>{{ title }}</h1>
</div>
{% endblock %}

<!--think of some better design, as well-->
<!--check the RESULTS-->
{% block content %}
<div class="container">
<div class="row">
	<div class="col-sm-8 col-md-9">
		{% if filters.tagg and not data.tagg %}
			<h3 class="text-muted">Invalid Tag.</h3>
		{% else %}
			{% if data.messages.length %}
				<div class="board">
					{% for message in data.messages %} {{ seeMessage(message) }} {% endfor %}
				</div>
			{% else %}
				{% if data.tagg %}
					<h3 class="text-muted">There are no posts with the tag {{ data.tagg.name }}.</h3>
				{% else %}
					<h3 class="text-muted">There are no posts yet.</h3>
				{% endif %}
			{% endif %}
		{% endif %}
</div>

{% if data.taggs.length %}
	<div class="col-md-2">
		<h2>Tags</h2>
		<div class="list-group" style="margin-top: 70px;">
			{% set class = ( "active" if not data.tagg else "" ) %}
			<a href="/board" class="{{ class }} list-group-item">All Tags</a>
			{% for t in data.taggs %} {% set class = ( "active" if data.tagg and data.tagg.id == t.id else "" ) %}
				<a href="/board/{{ t.key }}" class="{{ class }} list-group-item">{{ t.name }}</a>
			{% endfor %}
		</div>
	</div>
{% endif %}

</div>
</div>
{% endblock %}
