<!--we want to see the thing after is it made, no?-->
{% extends "templates/layouts/default.html" %}

{% block content %}

<div class="container-sm">
<div class="row">
<article class="full-message">
  {% if not message %}
    <h2>Invalid Message.</h2>
  {% else %}

<header>
  <h1>{{ message.title }}</h1>
  <h5>Posted</h5>
  {% if message.publishedDate %}
    on {{ message._.publishedDate.format("MMMM Do, YYYY") }}
  {% endif %}
  {% if message.taggs and message.taggs.length %}
    in
    {% for t in message.taggs %}<a href="/board/{{ t.key }}">{{ t.name }}</a>{% if loop.index < message.taggs.length %}, {% endif %}{% endfor %}
          {% endif %}
  {% if message.author %}
    by {{ message.author.name.first }}
  {% endif %}
</header>

<div class="message">
  {{ message.content }}
</div>

</article>
</div>
</div>

{% endblock %}
