{% extends templates/views/standard_page.html %}

{% block body_id %} signup_page {% endblock %}

{% block js %}
{#   This will pull in a simple script that creates a user.
	   That script will contain that function, which will be 'onclick' for the
		 button in the register_form block   #}
		 <script>
var keystone = require('keystone');

function makeUser() {
exports.create = {
//should take user imput
//just testing for now
	   User: [
		   { 'name.first': 'Jimmy', 'name.last': 'McBob', email: 'jdizzle@gmail.com', password: 'S1t0nmyface', role: 'winner', isAdmin: false }
	   ]
   };
}
		 </script>
{% endblock %}

{% block hero %}
	<div class="row jumbo_row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1>Register here!</h1>
		</div>
	</div>
{% endblock %}

{% block register_form %}

<!--A more complete user registration form to come soon-->
<button type="button" style="margin-right: 10px" class="btn btn-lg btn-primary" onclick="makeUser()">Sign Up</a>

{% endblock %}
