<div class="container">
 <div class="address">
	<h4>Nicholas Iebba</h4>
	<p>61 Gould St.</p>
	<p>Wakefield, MA 01880</p>
 </div>

 <div class="contact">
	<h4>Contact</h4>
	<p>781-258-1918 / 781-246-9373</p>
	<p>nicholasiebba@gmail.com</p>
 </div>

 <div class="helpone">
	<h4>Helpful Links</h4>
	<p><a href="#">Terms of Use</a></p>
	<p><a href="#">Privacy Policy</a></p>
	<p><a href="#">Site Map</a></p>
 </div>

 <div class="helptwo">
	<h4>Helpful Links</h4>
	<p><a href="#">For Employers</a></p>
	<p><a href="#">My Employment</a></p>
 </div>

 <div class="give">
	<h4>Donate to my PayPal</h4>
	<a href="#" class="btn">Donate</a>
 </div>
<!--testing here-->
</div>

<div class="bttom">
<div class="container">
<ul class="nav navbar-nav navbar-left">
	<li class="copy">&copy; 2015 Nicholas Iebba</li>
</ul>
<ul class="social nav navbar-nav navbar-right">
	<li class="follow">Follow Me:</li>
	<li><a href="https://www.facebook.com/nicholas.iebba"><img src="/images/facebook-util-reverse.png" alt="Facebook" class="fbw"></a></li>
	<li><a href="https://twitter.com/niebba"><img src="/images/twitter-util-reverse.png" alt="Twitter" class="tweet"></a></li>
</ul>
</div>
</div>
