//auth pages
.bodyForm {
  /*position: fixed;
  top: 50%;
  left: 50%;
  display: table;
  border-style: solid;
  border-width: 5px;*/

  border: 5 px solid blue;
  box-sizing: border-box;
  display: block;
  margin: 0;
}
