<!--the form for users to make message, under renovation-->
<!--may inherit for now-->
{% extends "templates/layouts/default.html" %}

{% block content %}
<div class="section">
<div class="container">

</div>
</div>
{% endblock %}

{% block js %}
<script>
jQuery(function($) {

      var $form = $('.management-form');
      var $submit = $form.find('[type="submit"]');

			//- focus + select first form control on load
			$form.find('.form-control').eq(0).focus().select();

			//- prevent multiple submits
			$form.submit( function() {
				$submit.button('loading');
			});

    });

</script>
{% endblock %}
