<!--more html stuff-->



{% block content %}
<form method="post" role="signin" novalidate="novalidate" class="signin-form">
<input type="hidden" name="action" value="signin">
<div class="form-control-box">

<label for="signin-email" class="sr-only">Email</label>
<input type="email" name="signin_email" placeholder="Email" id="signin-email" class="form-control">

<label for="signin-password" class="sr-only">Password</label>
<input type="password" name="signin_password" placeholder="Password" id="signin-password" value=" " class="form-control">
</div>

<button type="submit" class="btn btn-block btn-submit">Sign in</button>
</form>

<p>Not a member? <a href="/join">Join now!</a></p>

{% endblock %}
