<!--the gateway to importing all the other stuff-->

<!--Forms

Args:
1. Modal (boolean)
2. Initial: default is "join", also accepts "signin"
3. From: specify a page -->

{% import "forming-join.html" as FJ %}
{% import "form-signin.html" as FS %}

{% macro auth-forms(args) %}

{% if args.modal %}
{{ FJ.form-join(args) }}
{{ FS.form-signin(args) }}

{% else %}
{% if args.initial == 'join' %}
{{ FJ.form-join(args) }}

{% else %}
{{ FS.form-signin(args) }}

{% endif %} <!--args.initial-->

{% endif %} <!--end for args-->

{% endmacro %}
