<!--more traditional html-->
<!--I hope that this will link with everything-->
<!--there will be liberal use of bootstrap, like "modals"-->
{% import "templates/mixins/flash-messages.html" as FM %}

{% macro form-join(args) %} <!--don't forget to end macro-->
<div class="auth-box modal-pane-join">

{% if args.modal %}
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
<h4 class="modal-title">SIGN UP!</h4>
</div>
{% endif %}

<div class="modal-body"> <!--or maybe args.modal or whatever-->
<p class="auth-form-divider">
<span class="auth-form-divider-text">Enter Info</span> <!--Enter Info-->
</p>

<form role="join" method="post" action="/join" autocomplete="off" novalidate="novalidate" class="auth-form">
  <input type="hidden" name="action" value="join" />
  <input type="hidden" name="target" value="{{args.modal}}" /> <!--What does that value mean? Maybe '/'-->

  <!--later, put some if-statements here to check for form errors or empty fields-->

  <div class="form-groups">

  <div class="form-group">
  <label for="firstname" class="sr-only">First Name</label>
  <input type="text" name="firstname" placeholder="First Name" class="form-control form-control--first">
  </div>

  <div class="form-group">
  <label for="lastname" class="sr-only">Last Name</label>
  <input type="text" name="lastname" placeholder="Last Name" class="form-control">
  </div>

  <div class="form-group">
  <label for="email" class="sr-only">Email</label>
  <input type="text" name="firstname" placeholder="First Name" class="form-control">
  </div>

  <div class="form-group">
  <label for="password" class="sr-only">Password</label>
  <input type="password" name="password" placeholder="Password" class="form-control">
  </div>

  </div>
<button type="submit" class="btn btn-block btn-primary btn-submit">Join</button>
</form>

</div>

</div>
{% endmacro %}
